Libs

In [1]:
import pandas as pd
from ks import ks

Leer datos dummy

In [2]:
df = pd.read_csv('ks_example.csv', dtype={'target':'int'})
df.head()

   target  negative_relationship_score  positive_relationship_score
0       1                     0.649606                     0.350394
1       0                     0.700787                     0.299213
2       1                     0.795276                     0.204724
3       1                     0.468504                     0.531496
4       0                     0.641732                     0.358268

# Ejemplo 1

Cuando la relación entre el score y la bandera de malos es negativa (a mayor score, menor riesgo)

In [3]:
t = ks(df['negative_relationship_score'], df['target'])
t

KS: 0.16 out of 1.00

,bin,count,bads,goods,bad_rate_in_bin,cumulative_bad_rate,cumulative_good_rate,ks,remaining_bad_rate
0,"(0.0974, 0.504]",516,187,329,0.362403,0.159014,0.086036,0.072978,0.235200
1,"(0.504, 0.567]",512,173,339,0.337891,0.306122,0.174686,0.131436,0.220562
2,"(0.567, 0.602]",508,143,365,0.281496,0.427721,0.270136,0.157585,0.205438
3,"(0.602, 0.626]",493,119,374,0.241379,0.528912,0.367939,0.160972,0.194284
4,"(0.626, 0.654]",549,129,420,0.234973,0.638605,0.477772,0.160833,0.186469
5,"(0.654, 0.677]",542,109,433,0.201107,0.731293,0.591004,0.140288,0.175475
6,"(0.677, 0.697]",466,87,379,0.186695,0.805272,0.690115,0.115157,0.168085
7,"(0.697, 0.72]",451,90,361,0.199557,0.881803,0.784519,0.097284,0.161952
8,"(0.72, 0.756]",508,74,434,0.145669,0.944728,0.898013,0.046715,0.144341
9,"(0.756, 0.969]",455,65,390,0.142857,1.000000,1.000000,0.000000,0.142857

# Ejemplo 2:

Cuando la relación entre score y target es positiva (a mayor score, mayor riesgo)

In [4]:
ks(df['positive_relationship_score'], df['target'], negative_relationship=False)

KS: 0.16 out of 1.00

,bin,count,bads,goods,bad_rate_in_bin,cumulative_bad_rate,cumulative_good_rate,ks,remaining_bad_rate
0,"(0.0305, 0.244]",524,77,447,0.146947,1.000000,1.000000,0.000000,0.146947
1,"(0.244, 0.28]",505,71,434,0.140594,0.934524,0.883107,0.051417,0.143829
2,"(0.28, 0.303]",476,101,375,0.212185,0.874150,0.769613,0.104537,0.165449
3,"(0.303, 0.323]",506,85,421,0.167984,0.788265,0.671548,0.116717,0.166087
4,"(0.323, 0.346]",522,117,405,0.224138,0.715986,0.561454,0.154532,0.178050
5,"(0.346, 0.374]",531,126,405,0.237288,0.616497,0.455544,0.160953,0.188316
6,"(0.374, 0.398]",463,112,351,0.241901,0.509354,0.349634,0.159720,0.195350
7,"(0.398, 0.433]",483,135,348,0.279503,0.414116,0.257845,0.156270,0.205486
8,"(0.433, 0.496]",498,168,330,0.337349,0.299320,0.166841,0.132479,0.220053
9,"(0.496, 0.902]",492,184,308,0.373984,0.156463,0.080544,0.075919,0.235200